<a href="/" class="transparentWhite2 w-full h-fit p-[10%] aspect-[17/11] rounded-xl flex items-center justify-center flex-col gap-4 border border-red-200 hover:bg-red-100">
  <img src="exclamation.svg" alt="" class="w-[20%] aspect-square">
  <h1 class="text-red-400 text-center ">Lo lamentamos, pero, no eres apto para nuestras tarjetas de crédito</h1>
</a>
