---
  const teamMembers = [
    "Carlos Escorcia",
    "Jeison Alvarez",
    "Jesús Mendoza",
    "Edgar Peña",
    "Tatiana Jejen",
    "Jennifer Cacéres"
  ]
---

<footer
  class="flex justify-center items-center flex-col bottom-0 left-0 w-screen py-4"
>
  <p>
    &copy; {new Date().getFullYear()} Todos los derechos reservados.
  </p>
  <ul class="flex items-center justify-center gap-4">
    {teamMembers.map(member => (
      <li>{member}</li>
    ))}
  </ul>
</footer>