<main>
  <section 
  class="w-2/4 h-full">
    <h1 
      class="text-4xl">
        Obtén tu tajeta de crédito con nosotros
    </h1>
    <a href="">
      Obtener mi tarjeta
    </a>
  </section>
</main>